@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
  --background : #010813;
  --primary-color: white;
  --secondary-color: #F3BD1D;
  --thirteen-color: #212121;
  --fourthy-color: #989898;
  --fivethy-color:#212121;
  
}

* {
  background: var(--background);
  /* margin: 0.3em; */
  padding: 0;
  font-family: montserrat;
  /* font-family: Montserrat; */
}

